 
 /*font-family: "Raleway", sans-serif;
 font-family: "Roboto", sans-serif;*/
    body {
        font-family: "Roboto", sans-serif;
        color:#434455;
        background-color: #fff;
    }

    
    ul, ol {
        list-style-type: none;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    h1, h2, h3, h4, h5, h6, p {
        margin: 0;
    }

img {
    display: block;
    max-width: 100%;
    height: auto;
 }  

    a {
        text-decoration: none;
    }

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}




/*----------------Header--------------- */
    .page-header {
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}


.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}
.footer-logo .logo-part {
    color: #f4f4fd;
}

.nav-list {
    gap: 40px;
    display: flex;
    align-items: center;
    
}

.nav-item {
}




.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;

transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
    position: relative;

}

.nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
height: 4px;
background-color:#404bbf;
}
.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    gap: 40px;
    display: flex;
    align-items: center;
}

.contacts-item {
}

.contacts-link {
    display: block;
    padding: 24px 0;
    
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus, 
.nav-link:hover,
.nav-link.current,
.nav-link:focus {
    color: #404bbf
}

/*-----------------Hero----------------*/

.hero {
    max-width: 1440px;
    margin: 0 auto;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)), url("../images/people-office-1-min.jpg");
   background-repeat: no-repeat;
   background-position: center;
    background-size: cover; 
}

.hero-container {
  text-align: center; 
}

.hero-background {
     position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    object-fit: cover;
    z-index: 0; 
}

.hero-title {
  max-width: 496px;
  margin: 0 auto 48px;
  font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
z-index: 2;
}

.hero-btn {
    border: none;
    border-radius: 4px;
padding: 16px 32px;
min-width: 169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
   display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #4d5ae5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
z-index: 2;
}


.hero-btn:hover,.hero-btn:focus {
 background-color: #404bbf;
 
} 
   

/*---------------Features---------------*/

.features {
    padding: 120px 0;
}
.features-container {
   
}

.visually-hidden {

  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
    display: flex;
    gap: 24px;
    padding: 0;

}

.features-item {
    width: 264px;
    display: flex;
    flex-direction: column;
    
}

.features-icon-wrapper {
    width: 264px;
height: 112px;
border: 1px solid #8e8f99;
border-radius: 4px;
background: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.features-icon {


}
.features-subtitle {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
gap: 24px;
margin-bottom: 8px;
}

.features-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/*---------------Team---------------*/
.team {
    background: #f4f4fd;
    padding: 120px 0;
}

.team-container {

}
.team-title {

    margin-bottom: 72px;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.team-list {
display: flex;
gap: 24px;
}

.team-item {
border-radius: 0 0 4px 4px;
width: 264px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: #fff;
}

.team-subtitle {
    
   margin-bottom: 8px;
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.team-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

.container-team-text {
    position: relative;
    padding: 32px 16px;
}

.team-socials {
   margin-top: 8px;
}

.team-list-socials {
 display: flex;
 justify-content: center;
   gap: 24px;
   padding: 0;
   margin: 0;
   list-style: none;
}

.social-item {

     width: 40px;
    height: 40px;
    /*border-radius: 50%;
    background-color: #4d5ae5;
    overflow: hidden;
    position: relative;*/
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
 border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
background-color:  #404bbf;
}

.social-icon {
   fill: #f4f4fd;
    width: 16px;
    height: 16px;
     z-index: 1;
}


/*------------------Portfolio-----------*/
.portfolio {
    padding: 120px 0;
}

.portfolio-item-text {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
background-color: #4d5ae5;
padding-top: 40px;
padding-left: 32px;
padding-bottom: 164px;
padding-right: 32px;
height: 100%;
transform: translateY(100%);
 transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title {
    margin-bottom: 72px;
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.portfolio-image-wrapper {
    position: relative;
    overflow: hidden;
}


.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;

}

.portfolio-item {
    flex: 0 1 calc((100% - 48px) / 3);
    max-width: calc((100% - 48px) / 3);
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-item:hover  {
   box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
   0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
   
.portfolio-item:hover .portfolio-item-text {
    transform: translateY(0);
}

.portfolio-subtitle {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

}

.container-portfolio-text {
    border-bottom: 1px solid #e7e9fc;
border-left: 1px solid #e7e9fc;
border-right: 1px solid #e7e9fc;
padding: 32px 16px;
max-width: 100%;
}
/*------------------Footer---------------- */


.page-footer {
    background-color: #2e2f42;
   padding: 100px 0; 
}

.footer-text {
    max-width: 264px;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}

.footer-social-container {
    width: 208px;
    height: auto;
    position: static;
}

.footer-socials-list {
    display: flex;
    gap: 16px
}

.social-icon-footer {
    fill: #f4f4fd;
    width: 24px;
    height: 24px;
    z-index: 1;
}

.social-link-footer {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
    background-color: #31d0aa;
}

.footer-socials-title {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    margin-top: 0px;
}

.footer-container {  
padding: 0 15px;
margin: 0 auto;
 display: flex;
 align-items: baseline;
 gap: 120px;
}

.text-footer-subscribe {
    margin-bottom: 16px;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
}
.footer-form-label {

}

.input-footer {
    border: 1px solid #fff;
border-radius: 4px;
width: 264px;
height: 40px;
background-color: transparent;
padding-left: 16px;
font-weight: 400;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: #fff;
outline: none;
box-sizing: border-box;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.input-footer:hover,
.input-footer:focus {
    border-color: #31d0aa;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.input-footer::placeholder {
color: #fff;
}

.footer-subscribe {
min-width: 453px;
height: 80px;
margin-left: auto;
}



.footer-form {
    display: flex;
    gap: 24px;
}


.footer-form-btn {
border-radius: 4px;
width: 165px;
height: 40px;
  display: block;
    margin: auto;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
background: #31d0aa;
}


.footer-btn-subscribe {
    fill: #fff;
    width: 24px;
    height: 24px;
}

/*         overlay          */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.is-open  {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    border-radius: 4px;
width: 408px;
min-height: 584px;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
background: #fcfcfc;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 72px 24px 24px 24px;
}

.modal-close {
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #e7e9fc;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:focus,
.modal-close:hover {
    background-color: #404bbf;
}
 


.modal-close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:focus .modal-close-icon, 
.modal-close:hover .modal-close-icon {
    fill: #fff;
}

.modal-title {
    margin-bottom: 16px;
   font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
display: flex;
justify-content: center;
align-items: center;
}

.modal-label {
    display: block;
    font-weight: 400;
font-size: 12px;
line-height: 1.16667;
letter-spacing: 0.04em;
color: #8e8f99;
margin-bottom: 4px;
}

.modal-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
border-radius: 4px;
width: 100%;
height: 40px;
padding-left: 38px;
padding-right: 16px;
outline: none;
box-sizing: border-box;
 transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4d5ae5;
}
    
.modal-input:focus + .modal-icon {
   fill: #4d5ae5;
}

.modal-icon {
    fill: #2E2F42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.modal-input-wrapper {
    position: relative;
    margin-bottom: 8px;
    outline: none;
}

.modal-text-area{
    border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
width: 100%;
height: 120px;
font-weight: 400;
font-size: 12px;
line-height: 1.16667;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
background-color: transparent;
resize: none;
padding: 8px 16px;
outline: none;
 transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
             box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-text-area:focus {
     border-color: #4d5ae5; 
     box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-check:checked +.modal-check-label span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}
    
    
.modal-check-label {
    font-weight: 400;
font-size: 12px;
line-height: 1.16667;
letter-spacing: 0.04em;
color: #8e8f99;
display: flex;
align-items: center;
gap: 8px;
margin-top: 16px;
margin-bottom: 24px;
}


.modal-check-label a {
    line-height: 1.33333;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #4d5ae5;
}

.modal-check-label span {
    width: 16px;
    height: 16px;
    border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.4);
display: flex;
align-items: center;
justify-content: center;
fill: transparent; 
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


span:focus {
    border-radius: 2px;
fill: #404bbf;
border: 1px solid #404bbf;
}


.modal-btn {
    display: block;
    margin: auto;
    border: none;
border-radius: 4px;
padding: 16px 32px;
width: 169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background: #404bbf;
}






